// Since WebpackConfigFactory takes precedence over .babelrc file, below settings
// are useful in non Webpack-tied contexts, such as testing coverage
// @see webpackConfigFactory.js
{
  "env": {
    "test": {
      "presets": ["es2015", "react"],
      "plugins": [
        "istanbul",
        "transform-object-rest-spread",
        "transform-class-properties",
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
